body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: white;
}

.pay-form {
  padding: 100px 0;

  @include media-breakpoint-down(xs) {
    padding: 70px 0;
  }
}

h1 {
  text-align: center;
  font-size: 55px;
  line-height: 60px;
  font-weight: 600;

  @include media-breakpoint-down(sm) {
    font-size: 30px;
    line-height: 35px;
  }

}

h3 {
  text-align: center;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 0;

  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 25px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}